export OBJECT_STORAGE_CLUSTER_IP="192.168.1.10"
export OBJECT_STORAGE_CLUSTER_PORT=31971
export OBJECT_STORAGE_CLUSTER_ACCESS_KEY_ID="account:user"
export OBJECT_STORAGE_CLUSTER_SECRET_ACCESS_KEY="keyphrase"

echo $OBJECT_STORAGE_CLUSTER_IP
echo $OBJECT_STORAGE_CLUSTER_PORT
echo $OBJECT_STORAGE_CLUSTER_ACCESS_KEY_ID
echo $OBJECT_STORAGE_CLUSTER_SECRET_ACCESS_KEY

